body {
    margin: 0;
    font: 20px cambria, arial, verdana;
    background-color: lightgray;
}

main {
    padding-top: 34px;
}

.navigationbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigationbar ul li {
        float: left;
        font-weight: bold;
    }

.navigationbar ul #about {
        float: right;
    }

.navigationbar ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 18px 18px;
        text-decoration: none;
}

.navigationbar ul li a:hover:not(.active) {
            background-color: #111;
        }

.navigationbar ul li .active {
        background-color: #ad0000;
        cursor: default;
    }

.navigationbar ul li img {
    padding: 7px;
    vertical-align: middle;
}

input[type=radio]:checked {
    accent-color: #ad0000;
}

input[type=checkbox]:checked {
    accent-color: #ad0000;
}

input[type=range] {
    accent-color: #ad0000;
}

input[type=submit] {
    color: white;
    background-color: #333;
    width: 90px;
    height: 30px;
}

    input[type=submit]:hover {
        background-color: #111;
    }

    input[type=submit]:focus {
        background-color: #ad0000;
    }

.title {
    font-size: 75px;
    font-family: 'Brush Script MT', cursive;
    text-decoration: underline black;
    color: #ad0000;
    font-weight: bold;
}

.banner {
    padding: 5px;
    text-align: center;
    background-color: #7a7878;
    color: white;    
}
    .banner img {
        padding: 0px 20px 20px;
        vertical-align: middle;
    }
    .bannerinfo {
        margin-bottom: 0px;
    }
    .intro {
        margin-top: 0px;
        font-style: italic;
        font-weight: bold;
    }
   .information li {
        font-weight: normal;
    }
   .generalinformation {
       padding-left: 25px;
   }
   .generalinformation h2 {
       text-decoration: underline;
   }

   .generalinformation p {
       font-weight: bold;
   }

   .question {
       font-weight: bold;
   }

.form {
    padding: 50px 0px;
    margin: auto;
    text-align: center;
    background: #adacac;
    width: 60%;
    border-radius: 50px;
    outline: 2px solid #333;
}

.form h1 {
    text-decoration: underline;
}

.quizintro {
    padding: 20px 50px 0px;
}

table {
    font-size: 20px;
    color: black;
    border-collapse: collapse;
    background-color: white;
    margin: auto;
}

td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

thead {
    font-weight: bold;
}

table img {
    vertical-align: middle;
}

.heading {
    text-align: center;
    text-decoration: underline;
}

.navigationbar ul li .special {
    padding: 0px;
}